
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div class="container">
    <h2>SmartCash</h2>

    <form method="post">
        <input name="email" placeholder="Email">
        <input name="senha" type="password" placeholder="Senha">
        <button>Entrar</button>
    </form>

    <form action="/register" method="post">
        <input name="nome" placeholder="Nome">
        <input name="email" placeholder="Email">
        <input name="senha" type="password" placeholder="Senha">
        <button>Cadastrar</button>
    </form>
</div>

</body>
</html>

